@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');

*
{
    box-sizing: border-box;   
}

body
{
    text-decoration: nome;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: auto;
}

header
{
    display: flex;
    position: relative;
}

.fotoRosto
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(perfil.jpg);
    background-size: cover;
    top: 20px;
    left: 20px;
}
.informao
{
    width: 400px;
    height: 150px;
    position:absolute;
    right: 45rem;
    top: 20px;
    padding-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}

.informao h1
{
    font-size: 20px;
    padding-bottom: 10px;
    text-decoration: underline;
}

.informao span
{
    font-size: 16px;
    padding-left: 20px;
}

.objetivo
{
    width: 100%;
    height: 1rem;
    padding-top: 80PX;
    border:2px solid black;
    text-align: center;
}

nav
{
    text-align: center;
    text-transform: uppercase;
    padding-left: 2rem;
}

nav a
{
    color: black;
}
nav a:hover
{
    color: rgb(0, 0, 0);
    background-color: azure;
}

/* CONTEUDO  */
.link
{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

main
{
    display: flex;
    flex-wrap: wrap;
   padding-top: 30px;
   align-items: center;
   justify-content: center;
}
section
{
    display: flex;
    align-items: flex-start;
    width: 480px;
    height: 200px;
    padding: 10px;
    overflow: auto;
}

.imagemcurso
{
    width: 150px;
    height: 150px;
    border-radius: 25%;
    background-color: blue;
    background-size: cover;
}

.fid
{
    background-image: url(./FID.jpg);
    
}
.curso24h
{
    background-image: url(./curso24h.jpg);
}
.softblue
{
    background-image: url(./softblue.jpg);
}
.udemy
{
    background-image: url(udemy.png);
}


.inforrmacaoCurso
{
   padding-top: 40px;
   padding-left: 20px;
}

/*habilidades   */

.Habilidades
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
}

.fotoHabilidade
{
    width: 200px;
    height:200px;
    border-radius: 25%;
    margin: 20px;
    background-size: cover;
}

.fh1
{
    background-image: url(./html.png);
}
.fh2
{
    background-image: url(./css.png);
}
.fh3
{
    background-image: url(./java.png);
}